extends ../../layouts/index

block links 
    link(rel="stylesheet", href="/css/components/index/auth.index.css")
block content
    .content-wrapper
        .auth-wrapper
            .auth-image       
                img(src='/images/auth-bg.webp' alt="Men writing on computer")
                .image-content
            .auth-form.flex
                .auth-form__container
                    .form-body.flex.col.first-form
                        .form-title.flex.col
                            h1 Forgot password
                            p Dive back into your world with a simple sign-in. Your next adventure awaits – let's get started!
                        .form-fields.flex.col
                            .field-container.flex.col
                                p Email
                                input.input(placeholder="Email" id="forgotPwdEmail" type="text")
                            button.btn(id="forgotPwdSendCode") Send code
                        if error
                            p.xs-comment.error= error
    template#secondFormTemplate
        .form-body.flex.col.second-form
            .form-title.flex.col
                h1 Enter the code
                p Dive back into your world with a simple sign-in. Your next adventure awaits – let's get started!
            .form-fields.flex.col
                .field-container.flex.col
                    p Digital Code
                    input.input(placeholder="000000" id="digitalCode" type="text")
                button.btn(id="checkDigitalCode") Confirm
            p.xs-comment.error.none.small-txt.danger

    template#thirdFormTemplate
        .form-body.flex.col.third-form
            .form-title.flex.col
                h1 Write your new password
                p Dive back into your world with a simple sign-in. Your next adventure awaits – let's get started!
            .form-fields.flex.col
                .field-container.flex.col
                    p New password
                    input.input(placeholder="New password" id="password" type="text")
                .field-container.flex.col
                    p Confirm password
                    input.input(placeholder="Confirm password" id="conformPassword" type="text")
                button.btn(id="checkPasswords") Changes password
            p.xs-comment.error.none.small-txt.danger
block scripts
    script(src="/js/layouts/forgot-password.js")