doctype html
html(lang="fr")
    head
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(charset="UTF-8")
        title= title || 'admin'
        link(rel="shortcut icon", href="/images/icon.svg", type="image/x-icon")
        link(rel="stylesheet", href="/css/import.css")
        link(rel="stylesheet", href="/css/layouts/admin.css")
        block links
    body
        div.layout
            include ../common/sidebar
            .main
                .admin-nav
                    h2= pageName || "Undefined page"
                .main-wrapper
                    block content
        script(src="/js/layouts/admin.js" type="module")
        script.
            document.querySelectorAll(".sidebar-header__panel .company")
                .forEach(el => {
                    el.addEventListener("click", async () => {
                    const companyId = el.dataset.id;

                    await fetch("/switch-company", {
                        method: "POST",
                        headers: {
                        "Content-Type": "application/json"
                        },
                        body: JSON.stringify({ companyId })
                    });

                    location.reload();
                    });
                });
        block scripts

        script.
            document.addEventListener("keydown", (e) => {
                if (e.key === "x" || e.key === "X") {
                     document.body.classList.toggle("debug");
                }
            })
            const COMPANY_ID = !{company ? `"${company._id}"` : "null"};



            