doctype html
html(lang="fr")
    head
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(charset="UTF-8")
        title= title || 'title undefined'
        link(rel="shortcut icon", href="/images/icon.svg", type="image/x-icon")
        link(rel="stylesheet", href="/css/import.css")
        block links
    body

        block content

        block scripts
            