doctype html
html(lang="fr")
    head
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(charset="UTF-8")
        title= title || 'title undefined'
        link(rel="shortcut icon", href="/images/webp", type="image/x-icon")
        link(rel="stylesheet", href="/css/import.css")
        link(rel="stylesheet", href="/css/layouts/index.css")
        script(src="https://kit.fontawesome.com/be29c06db4.js" crossorigin="anonymous")
        block links
    body
    
        include ../common/topbar

        block content

        block scripts

        script(src="/js/import.js")

        script.
            const COMPANY_ID = !{company ? `"${company._id}"` : "null"};

        script.
            document.addEventListener("keydown", (e) => {
                if (e.key === "x" || e.key === "X") {
                     document.body.classList.toggle("debug");
                }
            })