@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --family-primary: "Inter", sans-serif;
  --family-secondary: "Poppins", sans-serif;
  /* --family-secondary: "Travels Medium", sans-serif; */
  --cursor-default: default;
  --cursor-pointer: pointer;
  --cursor-notAllowed: not-allowed;
  --cursor-busy: progress;

  --color-white: #fff;
  --color-black: #000;
  --green-primary: #ff5733;
  --green-light: #ff9b85;
  --green-soft: #ffded6;
  --text-primary: #0f172a;
  --text-muted: #64748b;
  --border-light: #e5e7eb;
  --bg-app: #f8fafc;
  --danger: #ef4444;
  --warning: #f59e0b;
  --success: #10b978;

  --color-primary-50: rgb(255, 87, 51, 0.05);
  --color-primary-75: rgb(255, 87, 51, 0.075);
  --color-primary-100: rgb(255, 87, 51, 0.1);
  --color-primary-200: rgb(255, 87, 51, 0.2);
  --color-primary-300: rgb(255, 87, 51, 0.3);
  --color-primary-400: rgb(255, 87, 51, 0.4);

  --grey-bg: #f6f6f7;
  --grey-primary: #637083;
  --grey-light: #344051;
  --grey-soft: #f2f4f7;

  --shadow: 0px 1px 2px 0px #141c250a;
  --border: 1px solid #e4e7ec;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--family-primary);
  font-size: 14px;
  /* line-height: 31px; */
}

body {
  cursor: var(--cursor-default);
  background-color: var(--bg-app);
}

body.debug * {
  outline: 1px ridge rgba(255, 0, 0, 0.1);
}

button {
  cursor: var(--cursor-pointer);
}

a {
  text-decoration: none;
  color: var(--color-black);
}

.main {
  overflow-y: scroll;
}

.btn,
.btn.primary {
  padding: 10px 12px;
  background-color: var(--green-primary);
  color: var(--color-white);
  border: 1px solid transparent;
  font-weight: 500;
  border-radius: 10px;
  color: var(--color-white);
  text-align: center;
}

.relative {
  position: relative;
}

.get__premium {
  background-color: #64748b;
  padding: 6px;
  border-radius: 4px;
  color: var(--color-white);
}

.btn.secondary {
  background-color: var(--color-white);
  border: var(--border);
  color: var(--grey-light);
}

.flex-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:disabled {
  background-color: var(--grey-soft);
  cursor: initial;
  color: var(--color-black);
}

svg {
  width: 20px;
  height: 20px;
}

.prime svg {
  fill: var(--green-primary);
}

.select {
  padding: 9px 10px 9px 12px;
  border-radius: 10px;
  border: var(--border);
  box-shadow: var(--shadow);
  outline: none;
  background: none;
}

.select:invalid {
  color: var(--grey-primary);
}

.height-100 {
  height: 100%;
  min-height: 0;
}

.xs-comment {
  font-size: 12px;
  color: grey;
}

.grey-light {
  color: var(--grey-light);
}

.space-b {
  justify-content: space-between;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--family-secondary);
}

img {
  width: 100%;
  display: block;
  height: 100%;
}

.flex {
  display: flex;
}

.col {
  flex-direction: column;
}

.input {
  padding: 10px 10px 10px 12px;
  border-radius: 10px;
  border: var(--border);
  box-shadow: var(--shadow);
  outline: none;
  background: none;
}

.input[disabled] {
  background: var(--grey-soft);
}

.empty-field {
  border: 1px solid var(--danger);
}

label.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
}

label.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

label.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

label.switch .slider::before {
  content: "";
  position: absolute;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: var(--color-white);
  transition: 0.4s;
  left: 2px;
  bottom: 2px;
}

label.switch input:checked + .slider {
  background-color: var(--green-light);
}

label.switch input:focus + .slider {
  box-shadow: var(--shadow);
}

label.switch input:checked + .slider::before {
  transform: translateX(16px);
}

tr th,
tr td {
  text-align: left;
  background-color: var(--color-white);
  padding: 16px 1.5rem;
  max-width: 500px;
  overflow: hidden;
  text-overflow: ellipsis;
  align-items: center;
  gap: 10px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--grey-soft);
  border-radius: 7px;
  width: 35px;
  height: 35px;
  border: none;
}

select option {
  text-transform: capitalize;
}

td.actions {
  gap: 7px;
  display: flex;
}

.s-btn {
  padding: 4px 6px;
  font-size: 12px;
  border: none;
  border-radius: 7px;
  color: #fff;
  font-weight: 700;
  gap: 7px;
}

.s-btn svg {
  fill: #fff;
}

.more {
  color: var(--green-primary);
  cursor: pointer;
}

.field-container {
  gap: 7px;
}

.container {
  margin: 0 auto;
}

.s-btn.approve {
  background-color: var(--success);
}

.s-btn.warning {
  background-color: var(--warning);
}

.s-btn.reject {
  background-color: var(--danger);
}

.danger {
  color: var(--danger);
}

.s-btn:disabled {
  background-color: var(--grey-primary);
}

.field {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.cover {
  object-fit: cover;
}

.field label {
  color: var(--grey-primary);
  font-weight: 400;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.form-group label {
  font-weight: 500;
}

.success {
  color: var(--success);
  font-size: 12px;
  opacity: 0;
  animation: fadeInOut 7s forwards;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.none {
  display: none;
}

.input-error {
  border: 1px solid var(--danger);
  background-color: rgb(239 68 68 / 7%);
}

.input-error-repeat {
  animation: forwards shaking 0.3s;
}

.selectmenu {
  position: relative;
  min-width: 200px;
}

.selectmenu .selectmenu__header {
  background-color: var(--color-white);
  padding: 7px 12px;
  cursor: pointer;
  border-radius: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #e3e3e3;
}

.selectmenu .selectmenu__header:hover {
  border: 1px solid var(--green-primary);
}

.selectmenu .selectmenu__panel {
  display: none;
  flex-direction: column;
  background-color: var(--color-white);
  border: var(--border);
  position: absolute;
  top: 115%;
  left: 0;
  width: 100%;
  padding: 5px 0;
  border-radius: 12px;
  overflow: hidden;
  box-shadow:
    0 10px 16px -4px rgba(28, 28, 28, 0.1),
    0 4px 6px -2px rgba(28, 28, 28, 0.04);
}

.selectmenu.open .selectmenu__panel {
  display: flex;
}

.selectmenu .selectmenu__panel .selectmenu__row {
  padding: 7px 12px;
  cursor: pointer;
  font-weight: 400;
  transition: 0.3s;
}

.selectmenu .selectmenu__panel .selectmenu__row:hover {
  background-color: var(--color-primary-75);
}

.searchmenu {
  position: relative;
  min-width: 200px;
  border-radius: 13px;
  border: 1px solid #e3e3e3;
  padding: 7px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.searchmenu svg {
  fill: var(--grey-primary);
}

.searchmenu input {
  border: none;
  background: none;
  outline: none;
}

.searchmenu .searchmenu__drop-icon {
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
}

.searchmenu .searchmenu__drop-icon.show {
  visibility: visible;
  opacity: 1;
}

@keyframes shaking {
  from {
    transform: translateX(-2px);
  }

  20% {
    transform: translateX(2px);
  }

  40% {
    transform: translateX(-2px);
  }

  60% {
    transform: translateX(2px);
  }

  80% {
    transform: translateX(-2px);
  }

  to {
    transform: translateX(0);
  }
}

.small-text {
  font-size: 12px;
  cursor: pointer;
  text-align: center;
}

.padding-d {
  padding: 100px 0;
}

.table__schema {
  border-collapse: separate;
  border-spacing: 0;
  display: block;
  white-space: nowrap;
  width: 100%;
  border-color: gray;
  position: relative;
}

.table__schema thead {
  position: sticky;
  top: 16px;
  display: block;
  width: 100%;
}

.table__schema thead tr {
  border-top-left-radius: var(--sib-border-radius_lg, 1rem);
  border-top-right-radius: var(--sib-border-radius_lg, 1rem);
  border: 1px solid #e3e3e3;
  display: flex;
  overflow: hidden;
}

.table__schema tbody {
  border: 1px solid #e3e3e3;
  border-top: 0;
  display: block;
}

.table__schema tbody tr {
  display: flex;
  overflow: hidden;
}

.table__schema thead tr th,
.table__schema tbody tr td {
  width: stretch;
}

.table__schema tbody tr:hover td {
  background-color: rgb(250, 250, 250);
}

.table__schema tbody tr td {
  position: relative;
  border-bottom: 1px solid #e3e3e3;
}

.table__schema tbody tr:last-child td {
  border-bottom: 0;
}

.table__schema tbody tr td .hover-content {
  position: absolute;
  top: 105%;
  left: 0;
}

.table__schema tfoot {
  display: block;
  border: 1px solid #e3e3e3;
  border-top: 0;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  overflow: hidden;
}

.table__schema tfoot tr {
  display: flex;
  justify-content: flex-end;
  background-color: white;
}

.btn-icon {
  background: none;
  border: none;
  padding: 8px;
  border-radius: 1rem;
}

.j-start {
  justify-content: flex-start;
}

.btn-icon:hover {
  background-color: var(--green-soft);
}

.table__schema tbody tr td.btn-td {
  padding: 4px 1.5rem;
}

@keyframes fadeInOut {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media all and (min-width: 820px) {
  .container {
    max-width: 800px;
  }
}

@media all and (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}
