mixin calendar()
    #renderCalendar
        .calendar-wrapper.container
            .calendar
                .calendar-header
                    .prev-month
                        button.btn#prevMonthBtn Prev
                    .this-month
                        h2
                    .next-month
                        button.btn#nextMonthBtn Next
                .calendar-body
                    .weekdays
                        //- Injected from JS
                    .days
                        //- Injected from JS
                .calendar-action
                    button.btn#closeCalendar Close