mixin editPwd()
    .password__editor
        .password__container
            #passwordClose
                svg(xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3")
                    path(d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z")

            .password__title
                h2 Edit your password
            .password__body
                form(action="/account/update-password" method="POST")
                    .form-group
                        label Old Password
                        input.input(type="password" name="oldPassword" required)
                    .form-group
                        label New Password
                        input.input(type="password" name="newPassword" required)
                    button.btn(type="submit") Update Password