
mixin confirmPopup()
    .confirm-popup
        .confirm-popup__wrapper
            .confirm-popup__title 
            .confirm-popup__description
            .confirm-popup__actions
                button.btn.secondary.cancel-btn Cancel
                button.btn.confirm-btn Confirm

    