mixin editEmail()
    .email__editor
        .email__container
            #emailClose
                svg(xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3")
                    path(d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z")

            .email__title
                h2 Edit your email
            .email__body
                p A verification code has been sent to your email address. Please enter it below to continue.
                input.input(placeholder="000000" id="digitalCode")
                button.btn#validDigitalCode Confirm