div(style="font-family: sans-serif; text-align: center; padding: 20px;")
  h1(style="color: #000000;") Appointment confirmed !
  p
    | Votre nouveau créneau est fixé à
    strong #{hour}

  br

  a(
    href="http://localhost:3000/dashboard"
    style="background-color:#4CAF50;color:white;padding:12px 25px;text-decoration:none;border-radius:5px;font-weight:bold;"
  )
    | Voir mon planning