.calendar-section {
  background-color: var(--color-white);
  overflow-y: scroll;
}

.calendar-section .grid-section {
  display: grid;
  grid-template-columns: minmax(60px, 90px) repeat(7, 1fr);
}

.calendar-section .grid-section .cell {
  height: 120px;
  border-bottom: var(--border);
  border-right: var(--border);
  padding: 4px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.calendar-section .grid-section .cell.time {
  padding: 8px;
}

.calendar-section .grid-section .cell.time-header,
.calendar-section .grid-section .cell.day-header {
  display: flex;
  align-items: center;
  padding: 0 8px;
  height: 45px;
  display: grid;
  gap: 0;
}

.calendar-section .grid-section .cell.day-header.today {
  background-color: var(--green-soft);
}

.calendar-section .grid-section .cell .appointment {
  min-height: 100%;
  /* min-height: calc((100% - 7px) / 2); */
  background-color: var(--green-soft);
  border-left: 3px solid var(--green-primary);
  padding: 6px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
}

.calendar-section .grid-section .cell .appointment .appointment-canceled {
  position: absolute;
  top: 10px;
  right: 10px;
  color: grey;
  font-size: 12px;
}

.calendar-section .grid-section .cell .appointment:hover {
  background-color: var(--green-light);
}

.calendar-section
  .grid-section
  .cell
  .appointment:not(.canceled):hover
  .xs-comment,
.calendar-section
  .grid-section
  .cell
  .appointment:not(.canceled):hover
  .appointment-name {
  color: white;
}

.calendar-section .grid-section .cell .appointment.canceled {
  background-color: var(--grey-soft);
  border-left: 3px solid var(--grey-primary);
}

.calendar .calendar__menu .calendar__sections .calendar__section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar
  .calendar__menu
  .calendar__sections
  .calendar__section.calendar__section--right {
  justify-content: flex-end;
}

.calendar
  .calendar__menu
  .calendar__sections
  .calendar__section.calendar__section--center
  .calendar__date {
  gap: 10px;
  flex-direction: row;
  flex-wrap: wrap;
}

.calendar__today-btn {
  width: 100%;
}

.calendar
  .calendar__menu
  .calendar__sections
  .calendar__section.calendar__section--center
  .calendar__date
  .calendar__date-text {
  font-size: 18px;
}

.calendar
  .calendar__menu
  .calendar__sections
  .calendar__section.calendar__section--center
  .calendar__date
  .calendar__date-btn {
  cursor: pointer;
}

.calendar
  .calendar__menu
  .calendar__sections
  .calendar__section.calendar__section--left,
.calendar
  .calendar__menu
  .calendar__sections
  .calendar__section.calendar__section--right {
  display: none;
}

.calendar
  .calendar__menu
  .calendar__sections
  .calendar__section.calend.availability-section .availability-section__body .body-weekly-hourar__section--center
  .calendar__date
  .calendar__date-text {
  width: 70%;
}

@media all and (min-width: 820px) {
}

@media all and (min-width: 1280px) {
  .calendar
    .calendar__menu
    .calendar__sections
    .calendar__section.calendar__section--center
    .calendar__date {
    flex-direction: row;
  }

  .calendar
    .calendar__menu
    .calendar__sections
    .calendar__section.calendar__section--left,
  .calendar
    .calendar__menu
    .calendar__sections
    .calendar__section.calendar__section--right {
    display: flex;
  }

  .calendar__today-btn {
    width: auto;
  }
}
