.availability-section {
  gap: 14px;
}

.availability-section .availability-section__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 14px;
  border-bottom: var(--border);
}

.availability-section .availability-section__header h3 {
  font-weight: 400;
}

.availability-section .availability-section__body .body-weekly-hour {
  gap: 7px;
}

.availability-section .availability-section__body .body-weekly-hour,
.availability-section .availability-section__body .body-specific-hour {
  width: 50%;
}

.availability-section
  .availability-section__body
  .body-weekly-hour
  .row-weekday {
  gap: 17.5px;
  align-items: flex-start;
}

.availability-section
  .availability-section__body
  .body-weekly-hour
  .row-weekday
  .weekday-toggle {
  width: 120px;
  gap: 10px;
  align-items: center;
  padding-top: 10px;
}

.availability-section
  .availability-section__body
  .body-weekly-hour
  .row-weekday
  .weekly-hour__time
  .time-slot
  .hour-container {
  width: 125px;
}

.availability-section
  .availability-section__body
  .body-weekly-hour
  .row-weekday
  .weekly-hour__time
  .time-slot,
.availability-section
  .availability-section__body
  .body-weekly-hour
  .row-weekday
  .weekly-hour__options {
  gap: 12.5px;
  padding-top: 10px;
}

.availability-section
  .availability-section__body
  .body-weekly-hour
  .row-weekday
  .weekly-hour__options
  .option {
  cursor: pointer;
}

.availability-section
  .availability-section__body
  .body-weekly-hour
  .row-weekday
  .weekly-hour__time
  .time-slot
  .slot-hour {
  position: relative;
  cursor: pointer;
}

.availability-section
  .availability-section__body
  .body-weekly-hour
  .row-weekday
  .weekly-hour__time
  .time-slot
  .slot-hour
  .panel-availability {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--color-white);
  box-shadow: var(--shadow);
  border: var(--border);
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 7px;
  display: none;
  height: 130px;
  z-index: 10;
}

.availability-section
  .availability-section__body
  .body-weekly-hour
  .row-weekday
  .weekly-hour__time
  .time-slot
  .slot-hour
  .panel-availability.open,
.availability-section
  .availability-section__body
  .time-slot__container
  .slot-input__container
  .panel.open {
  display: initial;
}

.availability-section
  .availability-section__body
  .body-weekly-hour
  .row-weekday
  .weekly-hour__time
  .time-slot
  .slot-hour
  .panel-availability
  .hour,
.availability-section
  .availability-section__body
  .time-slot__container
  .slot-input__container
  .panel
  .time {
  padding: 10px 60px 10px 8px;
  cursor: pointer;
}

.availability-section
  .availability-section__body
  .body-weekly-hour
  .row-weekday
  .weekly-hour__time
  .time-slot
  .slot-hour
  .panel-availability
  .hour:hover,
.availability-section
  .availability-section__body
  .time-slot__container
  .slot-input__container
  .panel
  .time:hover {
  background-color: var(--grey-soft);
}

.availability-section
  .availability-section__body
  .time-slot__container
  .slot-input__container {
  position: relative;
  width: 125px;
}

.availability-section
  .availability-section__body
  .time-slot__container
  .slot-input__container
  .panel {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--color-white);
  box-shadow: var(--shadow);
  border: var(--border);
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 7px;
  display: none;
  height: 130px;
  z-index: 10;
}
