.page--appointment {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.page--block-1 {
  width: 100%;
}

.page--block-2 {
  width: calc(100% - (20px * 2));
}

.page--block-3 {
  width: calc((100% - (20px * 2)) / 3);
}

.page--appointment .page--appointment-block {
  background-color: var(--color-white);
  padding: 14px;
  border-radius: 10px;
}

.page--appointment .page--appointment-block .appointment-header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 14px;
  border-bottom: var(--border);
}

.page--appointment
  .page--appointment-block
  .appointment-header__top
  .appointment-header__top-name
  h3 {
  font-weight: 400;
}

.page--appointment
  .page--appointment-block
  .appointment-header__top
  .appointment-header__top-actions {
  gap: 10px;
}

.page--appointment .page--appointment-block .appointment-header__bottom {
  margin-top: 14px;
  gap: 14px;
}

.page--appointment
  .page--appointment-block
  .appointment-header__bottom
  .appointment-header__bottom-col
  .appointment-header__bottom-col-element {
  gap: 7px;
}

.page--appointment
  .page--appointment-block
  .appointment-header__bottom
  .appointment-header__bottom-col
  .appointment-header__bottom-col-element
  p.name-element {
  color: grey;
}

.page--appointment
  .page--appointment-block.appointment-details
  .appointment-details__header {
  gap: 5px;
  align-items: center;
}

.page--appointment
  .page--appointment-block.appointment-details
  .appointment-details__header
  h3 {
  font-size: 18px;
  font-weight: 500;
}

.page--appointment
  .page--appointment-block.appointment-details
  .appointment-details__header
  svg {
  width: 24px;
  height: 24px;
}

.page--appointment
  .page--appointment-block.appointment-details
  .appointment-details__separator {
  height: 1px;
  width: 100%;
  background-color: var(--grey-soft);
  margin: 14px 0;
}

.page--appointment
  .page--appointment-block.appointment-details
  .appointment-details__body
  .client-details
  .client-details__main {
  align-items: stretch;
}

.page--appointment
  .page--appointment-block.appointment-details
  .appointment-details__body
  .client-details
  .client-details__main
  .client-details__main-picture {
  width: 100px;
  height: 100px;
  border-radius: 7px;
  overflow: hidden;
}

.page--appointment
  .page--appointment-block.appointment-details
  .appointment-details__body
  .client-details
  .client-details__main
  .client-details__main-locals {
  padding: 6px 10px;
}

.page--appointment
  .page--appointment-block.appointment-details
  .appointment-details__body
  .client-details
  .client-details__main
  .client-details__main-locals
  h4 {
  font-size: 18px;
  font-weight: 500;
}

.page--appointment
  .page--appointment-block.appointment-details
  .appointment-details__body
  .client-details {
  gap: 14px;
}

.page--appointment
  .page--appointment-block.appointment-details
  .appointment-details__body
  .client-details
  .client-details__main
  .client-details__main-locals
  p {
  color: grey;
}

.page--appointment
  .page--appointment-block.appointment-details
  .appointment-details__body
  .client-details
  .client-details__second
  .client-details__second-createdAt {
  align-items: center;
  gap: 10px;
}

.page--appointment
  .page--appointment-block.appointment-details
  .appointment-details__body
  .client-details
  .client-details__second {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.page--appointment .appointment-details__notes .appointment-details__body {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid #8080801a;
  border-radius: 7px;
  gap: 10px;
}
