.auth-wrapper .auth-form.join-company {
  margin-top: 32.5vh;
  align-items: flex-start;
}

.results-container {
  gap: 7px;
}

.results-container .result-box {
  background: white;
  padding: 8px 10px;
  border-radius: 7px;
  box-shadow: var(--shadow);
}

.results-container .result-box .box-name p {
  max-width: 100px;
  text-overflow: ellipsis;
  word-break: keep-all;
  overflow: hidden;
}

.results-container .result-box .box-infos {
  color: var(--grey-primary);
}

.results-container p.result-msg {
  text-align: center;
  color: var(--grey-primary);
  font-size: 14px;
}
