.client-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 24px;
  border-bottom: var(--border);
}

.client-card .client-card__main {
  display: flex;
  gap: 18px;
  align-items: center;
  justify-content: flex-start;
}

.client-card .client-card__main .client-card__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 7px;
}

.client-card .client-card__main .client-card__content .client-card__name {
  font-weight: 600;
}

.client-card .client-card__main .client-card__content .client-card__meta {
  color: var(--grey-primary);
  font-size: 12px;
  display: flex;
  gap: 8px;
  align-items: center;
}

.stats-section .stats-card {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.stats-section .stats-card .stats-card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 14px;
  border-bottom: var(--border);
}

.stats-section .stats-card .stats-card__header .stats-card__title h3 {
  font-weight: 400;
}

.stats-section .stats-card .stats-card__header .stats-card__filter {
  background-color: var(--grey-soft);
  padding: 6px;
  border-radius: 6px;
}

.stats-section .stats-card .stats-card__content {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(4, 1fr);
}

.stats-section .stats-card .stats-card__content .stats-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.stats-section .stats-card .stats-card__content .stats-item .stats-item__label {
  font-size: 16px;
}

.stats-section .stats-card .stats-card__content .stats-item .stats-item__body {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.stats-section
  .stats-card
  .stats-card__content
  .stats-item
  .stats-item__body
  .stats-item__numbers {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  align-items: flex-end;
}

.stats-section
  .stats-card
  .stats-card__content
  .stats-item
  .stats-item__body
  .stats-item__numbers
  .stats-item__value {
  font-size: 18px;
}

.stats-item__trend--up {
  color: #10b978;
}

.stats-item__trend--down {
  color: #ff4d4d;
}

.stats-section
  .stats-card
  .stats-card__content
  .stats-item
  .stats-item__body
  .stats-item__period {
  font-size: 12px;
  color: var(--grey-primary);
}

.notifications-section .notifications-section__body,
.appointments-section .appointments-section__body {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--grey-soft) var(--color-white);
}

.notifications-section .notifications-section__body .notification-card,
.appointments-section .appointments-section__body .appointments-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  border-bottom: var(--border);
}

.notifications-section
  .notifications-section__body
  .notification-card
  .notification-card__content,
.appointments-section
  .appointments-section__body
  .appointments-card
  .appointments-card__content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.notifications-section
  .notifications-section__body
  .notification-card
  .notification-card__content
  .notification-card__content-informations,
.appointments-section__body
  .appointments-card
  .appointments-card__content
  .appointments-card__content-informations {
  font-weight: 500;
}
