.client-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 24px;
  border-bottom: var(--border);
}

.client-card .client-card__main {
  display: flex;
  gap: 18px;
  align-items: center;
  justify-content: flex-start;
}

.client-card .client-card__main .client-card__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 7px;
}

.client-card .client-card__main .client-card__content .client-card__name {
  font-weight: 600;
}

.client-card .client-card__main .client-card__content .client-card__meta {
  color: var(--grey-primary);
  font-size: 12px;
  display: flex;
  gap: 8px;
  align-items: center;
}
