.sidebar {
  min-width: 280px;
  width: 280px;
  background-color: var(--color-white);
  border-right: var(--border);
  position: sticky;
  top: 0;
  height: 100vh;
}

.sidebar .sidebar-wrapper {
  display: flex;
  flex-direction: column;
  /* gap: 25px; */
}

.sidebar .sidebar-wrapper .sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 12px;
}

.sidebar .sidebar-wrapper .sidebar-header .header-company {
  display: flex;
  gap: 10px;
  align-items: center;
}

.sidebar .sidebar-wrapper .sidebar-header .header-company h2 {
  font-size: 16px;
}

.sidebar .sidebar-wrapper .sidebar-body .sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar .sidebar-wrapper .sidebar-body .sidebar-nav .nav-row {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 0 10px;
  cursor: pointer;
}

.sidebar .sidebar-wrapper .sidebar-body .sidebar-nav .nav-row .row-header p {
  font-size: 12px;
  color: var(--grey-primary);
}

.sidebar
  .sidebar-wrapper
  .sidebar-body
  .sidebar-nav
  .nav-row
  .row-body
  .row-link {
  display: flex;
  justify-content: flex-start;
  gap: 7px;
  align-items: center;
  padding: 7px 10px;
}

.sidebar
  .sidebar-wrapper
  .sidebar-body
  .sidebar-nav
  .nav-row
  .row-body
  .row-link.edit {
  justify-content: space-between;
}

.sidebar
  .sidebar-wrapper
  .sidebar-body
  .sidebar-nav
  .nav-row
  .row-body
  .row-link:hover,
.sidebar
  .sidebar-wrapper
  .sidebar-body
  .sidebar-nav
  .nav-row
  .row-body
  .row-link.active {
  background-color: var(--green-soft);
}

.sidebar
  .sidebar-wrapper
  .sidebar-body
  .sidebar-nav
  .nav-row
  .row-body
  .row-link
  p {
  font-weight: 500;
}
