.auth-wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
}

.auth-wrapper .auth-image {
  width: 25%;
}

.auth-wrapper .auth-image img {
  object-fit: cover;
}

.auth-wrapper .auth-form {
  width: 75%;
  justify-content: center;
  align-items: center;
}

.auth-wrapper .auth-form .auth-form__container,
.auth-wrapper .auth-form .form-body .form-title {
  gap: 20px;
}

.auth-wrapper .auth-form .form-body {
  gap: 30px;
  width: 420px;
}

.auth-wrapper .auth-form .auth-form__container .company h2 {
  font-size: 18px;
  font-weight: 500;
}

.auth-wrapper .auth-form .form-body .form-title h1 {
  font-size: 20px;
  font-weight: 400;
}

.auth-wrapper .auth-form .auth-form__container .company {
  display: flex;
  align-items: center;
  gap: 10px;
}

.auth-wrapper .auth-form .auth-form__container .company .logo {
  width: 35px;
}

.auth-wrapper .auth-form .auth-form__container .form-body .form-title p {
  color: var(--grey-primary);
}

.auth-wrapper .auth-form .auth-form__container .form-body .form-fields {
  gap: 15px;
  width: 100%;
}

.auth-wrapper .auth-form .auth-form__container .form-body p.error {
  color: var(--danger);
  text-align: center;
}

.auth-wrapper
  .auth-form
  .auth-form__container
  .form-body
  .form-fields
  .field-container
  a {
  text-align: right;
}

.auth-wrapper .auth-form .auth-form__container .form-body .no-acc {
  gap: 8px;
  justify-content: center;
}

.auth-wrapper .auth-form .auth-form__container .form-body .no-acc a {
  font-weight: 500;
}

.auth-wrapper .auth-form .form-body.schedule {
  width: 520px;
}

.auth-wrapper
  .auth-form
  .form-body.schedule
  .schedule-col
  .schedule-row__header
  .col-day {
  width: 120px;
}

.auth-wrapper .auth-form .form-body.schedule .schedule-col .schedule-row__body {
  gap: 7px;
}

.auth-wrapper
  .auth-form
  .form-body.schedule
  .schedule-col
  .schedule-row__body
  .row-day {
  width: 120px;
}

.auth-wrapper
  .auth-form
  .form-body.schedule
  .schedule-col
  .schedule-row__body
  .row-schedule {
  gap: 25px;
  align-items: center;
}

.auth-wrapper
  .auth-form
  .form-body.schedule
  .schedule-col
  .schedule-row__body
  .row-schedule
  .col-days {
  gap: 10px;
}

.auth-wrapper
  .auth-form
  .form-body.schedule
  .schedule-col
  .schedule-row__body
  .row-schedule
  .row-working-hours,
.auth-wrapper .auth-form .form-body.schedule .schedule-col {
  gap: 15px;
}

.auth-wrapper
  .auth-form
  .form-body.schedule
  .schedule-col
  .schedule-row__body
  .row-schedule
  .row-working-hours
  .hours-field
  input {
  width: 125px;
}
