.footer .footer__container {
  display: flex;
  flex-direction: column;
}

.footer .footer__container .footer__top {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 25px;
  justify-content: center;
  padding-bottom: 25px;
  align-items: center;
  border-bottom: var(--border);
}

.footer .footer__container .footer__top .footer__logo {
  display: flex;
  gap: 10px;
  align-items: center;
}

.footer .footer__container .footer__top .footer__logo img {
  width: 45px;
}

.footer .footer__container .footer__top .footer__logo h2 {
  font-size: 20px;
  font-weight: 500;
}

.footer .footer__container .footer__bottom {
  text-align: center;
  padding-bottom: 25px;
}

.footer .footer__container .footer__bottom p {
  color: var(--grey-primary);
}

.footer .footer__container .footer__bottom a {
  color: var(--green-primary);
}

.footer .footer__container .footer__top .footer__links {
  display: flex;
  gap: 25px;
  font-weight: 600;
}

.footer .footer__container .footer__top .footer__links a {
  color: #535862;
}
