.header,
.header-phone {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* background-color: var(--color-white); */
  padding: 6px 0;
  display: none;
  justify-content: center;
  z-index: 99;
}

.header .header-container,
.header-phone .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header .header-container .company {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}

.header .header-container .company .logo,
.header-phone .header-container a img {
  width: 40px;
  display: none;
}

.header .header-container .company .name {
  font-size: 18px;
  font-weight: 500;
  color: white;
  text-transform: uppercase;
  letter-spacing: 10px;
}

.header .header-container .menu,
.header-phone .header-container .menu {
  display: flex;
  gap: 25px;
}

.header .header-container .menu .actions {
  display: flex;
  gap: 10px;
}

.header-phone .header-container .menu a svg {
  fill: #333;
}

.header-phone .header-container .menu {
  gap: 10px;
}

.header .header-container .menu a:not(.btn.primary) {
  color: var(--grey-light);
  display: flex;
  align-items: center;
}

.header .header-container .menu .actions .lang__selector img {
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.header .header-container .menu .actions .lang__selector {
  position: relative;
  border: var(--border);
  border-radius: 6px;
  padding: 4px;
  cursor: pointer;
}

.header .header-container .menu .actions .lang__selector .lang__main {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  overflow: hidden;
}

.header .header-container .menu .actions .lang__selector .lang__panel {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 103%;
  left: 0;
  border: var(--border);
  border-radius: 6px;
  background-color: white;
  display: flex;
  flex-direction: column;
  transition: 0.3s;
}

.header .header-container .menu .actions .lang__selector .lang__panel div {
  padding: 5px;
}

.header .header-container .menu .actions .lang__selector .lang__panel.open {
  opacity: 1;
  visibility: visible;
}

.header-phone {
  display: flex;
}

@media all and (min-width: 820px) {
  .container {
    max-width: 800px;
  }

  .header {
    display: flex;
  }

  .header-phone {
    display: none;
  }
}

@media all and (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}
