.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-white);
  padding: 6px 0;
  display: flex;
  justify-content: center;
  z-index: 99;
}

.header .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header .header-container .company {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}

.header .header-container .company .logo {
  width: 40px;
}

.header .header-container .company .name {
  font-size: 18px;
  font-weight: 700;
}

.header .header-container .menu {
  display: flex;
  gap: 25px;
}

.header .header-container .menu .actions {
  display: flex;
  gap: 10px;
}

.header .header-container .menu a:not(.btn.primary) {
  color: var(--grey-light);
  display: flex;
  align-items: center;
}

.header .header-container .menu .actions .lang__selector img {
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.header .header-container .menu .actions .lang__selector {
  position: relative;
  border: var(--border);
  border-radius: 6px;
  padding: 4px;
  cursor: pointer;
}

.header .header-container .menu .actions .lang__selector .lang__main {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  overflow: hidden;
}

.header .header-container .menu .actions .lang__selector .lang__panel {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 103%;
  left: 0;
  border: var(--border);
  border-radius: 6px;
  background-color: white;
  display: flex;
  flex-direction: column;
  transition: 0.3s;
}

.header .header-container .menu .actions .lang__selector .lang__panel div {
  padding: 5px;
}

.header .header-container .menu .actions .lang__selector .lang__panel.open {
  opacity: 1;
  visibility: visible;
}
