body {
  background-color: white;
}
.landing__client {
  display: flex;
  flex-direction: column;
}

.landing__client .hero {
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url("/images/a2176d78-90cc-4917-bda6-5eb182130278.png");
  background-size: cover;
  background-position: center;
}

.hero__blur {
  position: absolute;
  backdrop-filter: blur(3px);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.landing__client .hero .hero__container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.landing__client .hero .hero__container h1 {
  color: white;
  font-size: 32px;
  font-weight: 400;
  text-align: center;
  text-shadow: 1px 1px 12px #00000069;
}

.landing__client .hero .hero__container p {
  text-align: center;
  color: white;
  font-weight: 500;
  text-shadow: 1px 1px 12px #00000069;
}

.landing__client
  .hero
  .hero__container
  .hero__form
  .form-group
  input::placeholder {
  color: rgb(150, 139, 139);
  font-weight: 500;
}

.hero__form {
  padding: 70px 0;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.hero__form .hero__form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: var(--border);
  box-shadow: var(--shadow);
  padding: 1rem;
  border-radius: 1rem;
  width: 100%;
  align-items: center;
}

.hero__form .hero__form-container .form-group {
  gap: 0;
  width: stretch;
  padding: 0.5rem;
  border-radius: 0.5rem;
  position: relative;
  border: 1px solid transparent;
}

.hero__form .hero__form-container .form-group.active {
  border: 1px solid;
}

.hero__form .hero__form-container .form-group label {
  font-weight: 400;
  color: grey;
}

.hero__form .hero__form-container input {
  border: none;
  outline: none;
  box-shadow: none;
  padding: 0.2rem 0;
  font-size: 16px;
}

.hero__form .hero__form-container .form-group .menu-locations {
  position: absolute;
  top: 110%;
  display: none;
  flex-direction: column;
  background: white;
  box-shadow: var(--shadow-p);
  left: 0;
  border-radius: 0.6rem;
  overflow: hidden;
  border: var(--border);
  width: 100%;
}

.hero__form .hero__form-container .form-group .menu-locations.active {
  display: flex;
}

.hero__form .hero__form-container .form-group .menu-locations div {
  padding: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.hero__form .hero__form-container .form-group .menu-locations div:hover {
  background-color: rgb(250, 250, 250);
}

.hero__form .hero__form-container input::placeholder {
  color: black;
}

.landing__client .hero__form .hero__suggestions {
  display: flex;
  width: 100%;
  gap: 20px;
  flex-direction: column;
}

.landing__client .hero__form .hero__suggestions .suggestions__row {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: stretch;
  border: var(--border);
  border-radius: 1rem;
  box-shadow: var(--shadow);
  overflow: hidden;
}

.landing__client .hero__form .hero__suggestions .suggestions__row .row__avatar {
  width: 25%;
  height: 300px;
}

.landing__client
  .hero__form
  .hero__suggestions
  .suggestions__row
  .row__informations {
  width: 75%;
  display: flex;
  flex-direction: row;
}

.landing__client
  .hero__form
  .hero__suggestions
  .suggestions__row
  .row__avatar
  img {
  width: 100%;
  object-fit: cover;
}

.landing__client
  .hero__form
  .hero__suggestions
  .suggestions__row
  .row__informations
  .informations__left {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  width: 70%;
  padding: 1.5rem;
}

.landing__client
  .hero__form
  .hero__suggestions
  .suggestions__row
  .row__informations
  .informations__right {
  display: flex;
  width: 30%;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem;
}

.landing__client
  .hero__form
  .hero__suggestions
  .suggestions__row
  .row__informations
  .informations__right
  .socials {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.landing__client
  .hero__form
  .hero__suggestions
  .suggestions__row
  .row__informations
  .informations__right
  .socials
  .icon__btn {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 0.6rem;
  border-radius: 0.6rem;
  background: #000;
  color: white;
}

.landing__client
  .hero__form
  .hero__suggestions
  .suggestions__row
  .row__informations
  .informations__right
  .socials
  .icon__btn
  p {
  font-size: 12px;
  font-weight: 500;
}

.landing__client
  .hero__form
  .hero__suggestions
  .suggestions__row
  .row__informations
  .informations__right
  .infos__coach {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 8px;
}

.landing__client
  .hero__form
  .hero__suggestions
  .suggestions__row
  .row__informations
  .informations__right
  .infos__coach
  svg {
  width: 30px;
  height: 30px;
  fill: black;
  cursor: pointer;
}

/* .landing__client
  .hero__form
  .hero__suggestions
  .suggestions__row
  .row__informations
  .informations__right
  .socials
  .icon__btn.facebook {
  background-color: rgba(0, 119, 255, 0.1);
}

.landing__client
  .hero__form
  .hero__suggestions
  .suggestions__row
  .row__informations
  .informations__right
  .socials
  .icon__btn.instagram {
  background-color: rgba(255, 0, 43, 0.1);
}

.landing__client
  .hero__form
  .hero__suggestions
  .suggestions__row
  .row__informations
  .informations__right
  .socials
  .icon__btn.whatsapp {
  background-color: rgba(0, 230, 31, 0.1);
}

.landing__client
  .hero__form
  .hero__suggestions
  .suggestions__row
  .row__informations
  .informations__right
  .socials
  .icon__btn.website {
  background-color: rgba(0, 0, 0, 0.1);
} */

.landing__client
  .hero__form
  .hero__suggestions
  .suggestions__row
  .row__informations
  .informations__right
  .socials
  .icon__btn
  img {
  width: 25px;
}

.landing__client
  .hero__form
  .hero__suggestions
  .suggestions__row
  .row__informations
  .informations__left
  h2 {
  font-size: 20px;
  font-weight: 500;
}

.landing__client
  .hero__form
  .hero__suggestions
  .suggestions__row
  .row__informations
  .informations__left
  p {
  line-height: 26px;
}

.landing__client
  .hero__form
  .hero__suggestions
  .suggestions__row
  .row__informations
  .informations__left
  .informations__description
  p {
  color: var(--grey-primary);
}

.landing__client
  .hero__form
  .hero__suggestions
  .suggestions__row
  .row__informations
  .informations__left
  a {
  color: var(--green-primary);
}

@media all and (min-width: 820px) {
}

@media all and (min-width: 1280px) {
  .hero__form .hero__form-container {
    flex-direction: row;
  }

  .landing__client .hero .hero__container h1 {
    font-size: 50px;
  }
}
