footer.footer
    .footer__container.container
        .footer__top
            .footer__logo
                img(src="/images/icon.webp" alt="GymIo Logo")
                h2 Gymio
            .footer__links
                a(href="/register") Start now
                a(href="/login") Login
                a(href="#") Help
                a(href="#") Support
        .footer__bottom
            p All rights reserved © 2026 Gymio. Made by 
                a(href="https://skydev.be" target="_blank") Skydev