.header
    .header-container.container
        a.company(href="/")
            .logo
                img(src="/images/icon.webp")
            .name Gymio
        .menu
            .actions
                if user 
                    //- a(href="/logout").btn.secondary Logout
                    a(href="/panel").btn.secondary= t.header.dashboard
                    a(href="/logout").btn.primary= t.header.logout
                else
                    a(href="/login").btn.secondary= t.header.login
                    a(href="/register").btn.primary= t.header.register