.header
    .header-container.container
        .company
            .logo
                img(src="/images/icon.svg")
            .name Skelio
        .menu
            a(href="/") Home
            a(href="/") Contact us
            .actions
                if user 
                    //- a(href="/logout").btn.secondary Logout
                    a(href="/panel").btn.primary Dashboard
                else
                    a(href="/login").btn.secondary Login
                    a(href="/register").btn.primary Register