.error-404 {
  height: 100dvh;
  padding-top: 100px;
}

.error-404 .error-404__wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 10px;
}

.error-404 .error-404__wrapper .error-404__title {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
}

.error-404 .error-404__wrapper .error-404__title h2 {
  font-size: 30px;
  font-weight: 500;
}

.error-404 .error-404__wrapper .error-404__title p.description {
  color: var(--grey-primary);
}

.error-404 .error-404__wrapper .error-404__body {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  position: relative;
}

.error-404 .error-404__wrapper .error-404__body .error-404__search-wrapper,
.error-404 .error-404__wrapper .error-404__body .error-404__search-actions {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.error-404__big-404 {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 450px;
  opacity: 0.02;
  transform: translate(-50%, -50%);
  font-weight: 600;
}

@media all and (min-width: 820px) {
  .error-404 .error-404__wrapper .error-404__body {
    width: 50%;
  }
}

@media all and (min-width: 1280px) {
  .error-404__big-404 {
    display: initial;
  }

  .error-404 .error-404__wrapper .error-404__body .error-404__search-wrapper,
  .error-404 .error-404__wrapper .error-404__body .error-404__search-actions {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .error-404 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
  }

  .error-404 .error-404__wrapper .error-404__title h2 {
    font-size: 54px;
  }

  .error-404 .error-404__wrapper .error-404__title p.description {
    font-size: 16px;
  }
}
