@import url("../components/admin/sidebar.admin.css");

.layout {
  display: flex;
  height: 100vh;
}

svg {
  fill: var(--grey-primary);
}

.main {
  flex: 1;
}

.main-wrapper {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: calc(100% - 52px);
}

.main .admin-nav {
  padding: 12px 32px;
  border-bottom: var(--border);
}

.main .admin-nav h2 {
  font-size: 18px;
  font-weight: 400;
}

.section__container {
  background-color: var(--color-white);
  padding: 14px;
  border-radius: 10px;
  gap: 25px;
}

.block-section__row {
  display: flex;
  gap: 24px;
}

.block-section__row .section__container {
  width: calc((100% - 24px) / 2);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.section__container .section__container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 14px;
  border-bottom: var(--border);
}

.section__container
  .section__container-header
  .section__container-header__name {
  display: flex;
  gap: 10px;
  align-items: center;
}

.section__container
  .section__container-header
  .section__container-header__name
  h3 {
  font-weight: 500;
  line-height: 31px;
}
