.content-wrapper {
  padding-top: 25vh;
  align-items: flex-start;
  flex-direction: column;
}

.informations .informations__container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.informations .informations__container .informations__top,
.informations .informations__container .informations__bottom {
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  box-shadow: var(--shadow);
  background-color: var(--color-white);
  padding: 24px;
  border-radius: 8px;
}

.informations .informations__container .informations__top .informations__user,
.informations
  .informations__container
  .informations__bottom
  .informations__links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.informations
  .informations__container
  .informations__top
  .informations__user
  h2,
.informations
  .informations__container
  .informations__bottom
  .informations__links
  h2 {
  font-size: 18px;
  color: var(--grey-primary);
  font-weight: 400;
}

.informations
  .informations__container
  .informations__top
  .informations__user-wrapper,
.informations
  .informations__container
  .informations__bottom
  .informations__links
  .informations__links-wrapper {
  display: flex;
  gap: 15px;
  align-items: stretch;
  overflow: hidden;
}

.informations
  .informations__container
  .informations__top
  .informations__user
  .user__name {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: calc(100% - 70px - 15px);
}

.informations
  .informations__container
  .informations__top
  .informations__user
  .user__name
  .user__name-row {
  width: 100%;
}

.informations
  .informations__container
  .informations__top
  .informations__user
  .user__name
  h3,
.informations
  .informations__container
  .informations__bottom
  .informations__links
  .informations__links-wrapper
  .links__row
  h3 {
  font-weight: 500;
  font-size: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.informations
  .informations__container
  .informations__top
  .informations__user
  .user__name
  p {
  color: var(--grey-primary);
}

.informations
  .informations__container
  .informations__top
  .informations__user
  .user__image {
  min-width: 70px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
}

.informations
  .informations__container
  .informations__bottom
  .informations__links
  .informations__links-wrapper
  .links__row {
  display: flex;
  gap: 20px;
  align-items: center;
}

.informations
  .informations__container
  .informations__bottom
  .informations__links
  .informations__links-wrapper
  .links__row
  .links__row-logo {
  width: 30px;
}

@media all and (min-width: 820px) {
  .container {
    max-width: 800px;
  }
}

@media all and (min-width: 1280px) {
  .content-wrapper {
    flex-direction: row;
  }

  .informations .informations__container .informations__top,
  .informations .informations__container .informations__bottom {
    width: 350px;
  }
}
