@import url("../components/index/calendar.index.css");
@import url("../components/index/topbar.index.css");

.content-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  gap: 25px;

}
