.page--payment-success .payment__success {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page--payment-success .payment__success .payment__success-wrapper {
  display: flex;
  flex-direction: column;
  gap: 35px;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 500px;
  background-color: var(--color-white);
  box-shadow: var(--shadow-p);
  border-radius: var(--radius-lg);
  padding: 30px 24px;
}

.page--payment-success
  .payment__success
  .payment__success-wrapper
  .payment__success-icon
  svg {
  width: 55px;
  height: 55px;
  fill: var(--success);
}

.page--payment-success
  .payment__success
  .payment__success-wrapper
  .payment__success-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.page--payment-success
  .payment__success
  .payment__success-wrapper
  .payment__success-content
  .payment__success-title
  h2 {
  font-size: 24px;
  font-weight: 500;
}

.page--payment-success
  .payment__success
  .payment__success-wrapper
  .payment__success-content
  .payment__success-description {
  font-size: 15px;
  color: var(--text-secondary);
  line-height: 1.6;
}
