.password__editor {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 50;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2px);
  padding: 16px;
}

.password__editor.open {
  display: flex;
}

.password__editor .password__container {
  padding: 24px;
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-p);
  border: var(--border);
  display: flex;
  width: 100%;
  max-width: 380px;
  flex-direction: column;
  background-color: var(--color-white);
  position: relative;
  gap: 25px;
}

.password__editor .password__container .password__title h2 {
  font-size: 18px;
  font-weight: 500;
}

.password__editor .password__container .password__body form {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

#passwordClose {
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
}
