.email__editor {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2px);
  z-index: 50;
  padding: 16px;
}

.email__editor.open {
  display: flex;
}

.email__editor .email__container {
  padding: 24px;
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-p);
  border: var(--border);
  display: flex;
  width: 100%;
  max-width: 380px;
  flex-direction: column;
  background-color: var(--color-white);
  position: relative;
  gap: 25px;
}

.email__editor .email__container .email__title h2 {
  font-size: 18px;
  font-weight: 500;
}

.email__editor .email__container p {
  color: var(--grey-primary);
}

#emailClose {
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
}

.email__editor .email__container .email__body {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
