extends ../../layouts/admin

block links
    link(rel="stylesheet", href="/css/components/admin/client.admin.css")

block content
    .client-section.flex.col
        .client-section__header.flex
            .header-search
                input.input(placeholder="Search")
            .header-actions.flex
                button.btn.secondary Filters
                button.btn Add client
        .client-section__body
            .body-list__header
            .body-list__content

block scripts