extends ../../layouts/admin

block links
    link(rel="stylesheet", href="/css/components/admin/panel.admin.css")

block content
    .home-section
        .home-section__container
            .home-section__header
            .home-section__body
                p Join company
                p Create company
block scripts