extends ../../layouts/index

block links 
    link(rel="stylesheet", href="/css/components/index/auth.index.css")
    link(rel="stylesheet", href="/css/components/admin/join-company.admin.css")
block content
    .content-wrapper
        .auth-wrapper
            .auth-image       
                img(src='/images/auth-bg.webp' alt="Men writing on computer")
                .image-content
            .auth-form.flex.join-company
                .auth-form__container
                    .form-body.flex.col
                        .form-title.flex.col
                            h1 Search your company 
                            p Start by entering basic information about your practice or healthcare organization.
                        .form-fields.flex.col
                            .field-container.flex.col
                                p Company name
                                input.input(placeholder="ex: Skelio Belgium" type="text" id="searchCompanyInput")
                            .results-container.flex.col#resultsWrapper
                                p.result-msg No results yet. Start searching to find a company.

                        if error
                            p.xs-comment.error= error
                        
block scripts
    script(src="/js/layouts/join-company.js" type="module")