extends ../../layouts/index

block links 
    link(rel="stylesheet", href="/css/components/index/auth.index.css")
block content
    .content-wrapper
        .auth-wrapper
            .auth-image       
                img(src='/images/auth-bg.webp' alt="Men writing on computer")
                .image-content
            .auth-form.flex
                .auth-form__container
                    .form-body.flex.col
                        .form-title.flex.col
                            h1 Make your choice
                            p Start by entering basic information about your practice or healthcare organization.
                        form.form-fields.flex.col(action="/create-company" method="POST")
                            a(href="/join-company").btn Join company
                            a(href="/create-company").btn.secondary Create company
                        if error
                            p.xs-comment.error= error
                        
block scripts       