extends ../../layouts/index

block links
    link(rel="stylesheet", href="css/layouts/landing-page.css")

block content
    .content-wrapper
        .landing-page__content
            .landing-page
                .landing-page__background
                    video(autoplay loop muted playsinline)
                        source(src='/videos/background.mp4' type="video/mp4")
                .landing-page__container
                    .landing-page__title.flex-c
                        h1 #{t.hero.title} 
                    .landing-page__description.flex-c
                        p= t.hero.description
                    .landing-page__actions.flex-c
                        a.btn(href='#')= t.hero.btn_1
                        a.btn.secondary(href='#')= t.hero.btn_2
            section.features.container
                .features__container
                    .features__box
                        .box__icon
                            svg(xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3")
                                path(d="m422-232 207-248H469l29-227-185 267h139l-30 208Zm-55.85 107.38 40-275.38h-170l299.23-431.54h18.47L514.62-520h200l-330 395.38h-18.47ZM471-470Z")
                        .box__title
                            h2 Prise de RDV en 2 clics
                        .box__description
                            p Une interface ultra-fluide pensée pour vos clients. Réserver une séance de sport n'a jamais été aussi rapide et intuitif.
                    .features__box
                        .box__icon
                            svg(xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3")
                                path(d="M224.62-120q-27.62 0-46.12-18.5Q160-157 160-184.62v-510.76q0-27.62 18.5-46.12Q197-760 224.62-760h70.76v-89.23h43.08V-760h286.16v-89.23h40V-760h70.76q27.62 0 46.12 18.5Q800-723 800-695.38v510.76q0 27.62-18.5 46.12Q763-120 735.38-120H224.62Zm0-40h510.76q9.24 0 16.93-7.69 7.69-7.69 7.69-16.93v-350.76H200v350.76q0 9.24 7.69 16.93 7.69 7.69 16.93 7.69ZM200-575.39h560v-119.99q0-9.24-7.69-16.93-7.69-7.69-16.93-7.69H224.62q-9.24 0-16.93 7.69-7.69 7.69-7.69 16.93v119.99Zm0 0V-720-575.39Z")
                        .box__title
                            h2 Présence en ligne 24h/7
                        .box__description
                            p Votre salle reste accessible même quand vous dormez. Permettez à vos membres de gérer leurs réservations à n'importe quelle heure du jour ou de la nuit.
                    .features__box
                        .box__icon
                            svg(xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3")
                                path(d="M840-695.38v430.76q0 27.62-18.5 46.12Q803-200 775.38-200H184.62q-27.62 0-46.12-18.5Q120-237 120-264.62v-430.76q0-27.62 18.5-46.12Q157-760 184.62-760h590.76q27.62 0 46.12 18.5Q840-723 840-695.38Zm-680 87.69h640v-87.69q0-9.24-7.69-16.93-7.69-7.69-16.93-7.69H184.62q-9.24 0-16.93 7.69-7.69 7.69-7.69 16.93v87.69Zm0 95.38v247.69q0 9.24 7.69 16.93 7.69 7.69 16.93 7.69h590.76q9.24 0 16.93-7.69 7.69-7.69 7.69-16.93v-247.69H160ZM160-240v-480 480Z")
                        .box__title
                            h2 Paiements intégrés
                        .box__description
                            p Encaissez vos séances directement à la réservation. Simple, rapide et sécurisé via Stripe pour éviter les impayés et les oublis.
                    .features__box
                        .box__icon
                            svg(xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3")
                                path(d="m336-307.69 144-144 144 144L652.31-336l-144-144 144-144L624-652.31l-144 144-144-144L307.69-624l144 144-144 144L336-307.69ZM480.13-120q-74.67 0-140.41-28.34-65.73-28.34-114.36-76.92-48.63-48.58-76.99-114.26Q120-405.19 120-479.87q0-74.67 28.34-140.41 28.34-65.73 76.92-114.36 48.58-48.63 114.26-76.99Q405.19-840 479.87-840q74.67 0 140.41 28.34 65.73 28.34 114.36 76.92 48.63 48.58 76.99 114.26Q840-554.81 840-480.13q0 74.67-28.34 140.41-28.34 65.73-76.92 114.36-48.58 48.63-114.26 76.99Q554.81-120 480.13-120Zm-.13-40q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z")
                        .box__title
                            h2 Gestion des annulations
                        .box__description
                            p Offrez de la liberté à vos clients. Ils peuvent annuler ou reporter leurs séances en un clic selon les règles que vous fixez.
                    .features__box
                        .box__icon
                            svg(xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3")
                                path(d="m364.31-489.69 91.38-91.62-82.15-82.38-46.31 46.31-28.31-28.31L345-692l-78.08-78.08-91.61 91.62 189 188.77Zm313.38 313.61 91.62-91.61-78.08-78.08-46.31 46.08-28.3-28.31 46.07-46.31-81.61-81.38-91.39 91.38 188 188.23ZM690.92-760l69.31 69.31L690.92-760ZM286.15-160H160v-126.15l175.77-175.77L120-678.46l146.92-146.92 217.54 216.76 178.69-178.92q6.62-6.61 13.93-9.54 7.3-2.92 15.61-2.92 8.31 0 15.62 2.92 7.31 2.93 13.92 9.54l65.31 67.85q6.61 6.61 9.15 13.92t2.54 15.62q0 8.3-2.54 15.11-2.54 6.81-9.15 13.42L610.38-483.46l215 216.54L678.46-120 461.92-335.77 286.15-160ZM200-200h69.08l392.77-392.54-69.31-69.31L200-269.08V-200Zm427.69-427.46-35.15-34.39 69.31 69.31-34.16-34.92Z")
                        .box__title
                            h2 Page personnalisable
                        .box__description
                            p Créez une page de réservation qui vous ressemble. Couleurs, logos et photos : personnalisez tout pour refléter l'identité de votre club.
                    .features__box
                        .box__icon
                            svg(xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3")
                                path(d="m207.54-511.31 98 41.46q18.61-37.23 40.54-72.07 21.92-34.85 48.38-67.77l-61.38-11.77q-6.16-1.54-11.93.38-5.77 1.93-10.38 6.54L207.54-511.31Zm129.69 66.85 113.23 113q47.39-21.39 95.39-54.39t92.3-77.3q64.62-64.62 98.73-137.81Q771-674.15 775.23-770q-95.85 4.23-168.77 38.35-72.92 34.11-137.54 98.73-44.3 44.3-77.3 92.69-33 48.38-54.39 95.77Zm189.62-137.27q0-24.65 17.61-42.27 17.62-17.62 42.77-17.62 25.15 0 42.77 17.62 17.62 17.62 17.62 42.27 0 24.65-17.62 42.27-17.62 17.61-42.77 17.61-25.15 0-42.77-17.61-17.61-17.62-17.61-42.27Zm-10.31 380.19 103.23-103.23q4.61-4.61 6.54-10.38 1.92-5.77.38-11.93l-11.77-61.38Q582-362 547.15-340.19q-34.84 21.81-72.07 40.42l41.46 98.23Zm296.08-605.31q6.69 110.23-31.2 202.81-37.88 92.58-118.04 172.73-3.84 3.85-6.92 6.93-3.08 3.07-6.92 6.92l16.15 82.08q3.23 16.15-1.23 31.3-4.46 15.16-16.15 26.85L502.62-132.31l-66.31-156.23-142.54-142.54-156.23-67.07 144.69-144.93q11.69-11.69 26.96-16.54 15.27-4.84 31.43-1.61l83.61 16.92q3.85-3.84 6.54-6.92t6.54-6.92q80.15-80.16 172.61-117.77 92.46-37.62 202.7-30.93ZM204.69-313.31q23.46-23.46 57.04-23.19 33.58.27 57.04 23.73t23.35 57.04q-.12 33.58-23.58 57.04-20.39 20.38-65.42 34.92-45.04 14.54-104.2 20.08 5.54-59.16 20.46-104.19 14.93-45.04 35.31-65.43Zm28.54 29.08q-11.54 11.54-21.54 37.65-10 26.12-13.23 53.89 27.77-3.23 53.89-13.5Q278.46-216.46 290-228q12-12 12.23-28.62.23-16.61-11.77-28.61t-28.61-11.5q-16.62.5-28.62 12.5Z")
                        .box__title
                            h2 Mises à jour incluses
                        .box__description
                            p On améliore Gymio chaque semaine. Profitez de nouvelles fonctionnalités et d'une performance optimisée sans aucun frais supplémentaire.
            section.promotion.padding-d
                .promotion__container
                    .promotion__title
                        h2 Unlock potential, foster growth
                    .promotion__description
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, nemo!
                    .promotion__actions
                        button.btn.secondary Demo
                        button.btn Buy now
            section.functionalities
                .functionalities__container.container
                    .functionalities__row
                        .row__left
                            .row__body
                                .row__title
                                    h2 Upload an Encrypted File to Beyong UI using Next.js
                                .row__description 
                                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam eum quasi dolore cum sit repellendus vel tempora soluta, corporis quo aperiam iste, quod similique asperiores, ea ex natus nulla placeat.
                                .row__functionality
                                    .functionality
                                        .functionality__icon.flex-c
                                            svg(xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3")
                                                path(d="m422.46-323.69 255.85-255.85L650-607.85 422.46-380.31l-114-114L280.15-466l142.31 142.31ZM480.13-120q-74.67 0-140.41-28.34-65.73-28.34-114.36-76.92-48.63-48.58-76.99-114.26Q120-405.19 120-479.87q0-74.67 28.34-140.41 28.34-65.73 76.92-114.36 48.58-48.63 114.26-76.99Q405.19-840 479.87-840q74.67 0 140.41 28.34 65.73 28.34 114.36 76.92 48.63 48.58 76.99 114.26Q840-554.81 840-480.13q0 74.67-28.34 140.41-28.34 65.73-76.92 114.36-48.58 48.63-114.26 76.99Q554.81-120 480.13-120Zm-.13-40q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z")
                                        .functionality__text Sync data across devices instantly for seamless updates.
                                    .functionality
                                        .functionality__icon.flex-c
                                            svg(xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3")
                                                path(d="m422.46-323.69 255.85-255.85L650-607.85 422.46-380.31l-114-114L280.15-466l142.31 142.31ZM480.13-120q-74.67 0-140.41-28.34-65.73-28.34-114.36-76.92-48.63-48.58-76.99-114.26Q120-405.19 120-479.87q0-74.67 28.34-140.41 28.34-65.73 76.92-114.36 48.58-48.63 114.26-76.99Q405.19-840 479.87-840q74.67 0 140.41 28.34 65.73 28.34 114.36 76.92 48.63 48.58 76.99 114.26Q840-554.81 840-480.13q0 74.67-28.34 140.41-28.34 65.73-76.92 114.36-48.58 48.63-114.26 76.99Q554.81-120 480.13-120Zm-.13-40q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z")
                                        .functionality__text Customize your dashboard to highlight key information.
                                    .functionality
                                        .functionality__icon.flex-c
                                            svg(xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3")
                                                path(d="m422.46-323.69 255.85-255.85L650-607.85 422.46-380.31l-114-114L280.15-466l142.31 142.31ZM480.13-120q-74.67 0-140.41-28.34-65.73-28.34-114.36-76.92-48.63-48.58-76.99-114.26Q120-405.19 120-479.87q0-74.67 28.34-140.41 28.34-65.73 76.92-114.36 48.58-48.63 114.26-76.99Q405.19-840 479.87-840q74.67 0 140.41 28.34 65.73 28.34 114.36 76.92 48.63 48.58 76.99 114.26Q840-554.81 840-480.13q0 74.67-28.34 140.41-28.34 65.73-76.92 114.36-48.58 48.63-114.26 76.99Q554.81-120 480.13-120Zm-.13-40q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z")
                                        .functionality__text Get instant notifications for important updates.

                            .row__actions
                                button.btn.secondary Demo
                                button.btn Learn more
                        .row__right
                            .row__image
                                img(src="/images/linkpage.webp")
                    .functionalities__row.second
                        .row__left
                            .row__body
                                .row__title
                                    h2 Upload an Encrypted File to Beyong UI using Next.js
                                .row__description 
                                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam eum quasi dolore cum sit repellendus vel tempora soluta, corporis quo aperiam iste, quod similique asperiores, ea ex natus nulla placeat.
                                .row__functionality
                                    .functionality
                                        .functionality__icon.flex-c
                                            svg(xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3")
                                                path(d="m422.46-323.69 255.85-255.85L650-607.85 422.46-380.31l-114-114L280.15-466l142.31 142.31ZM480.13-120q-74.67 0-140.41-28.34-65.73-28.34-114.36-76.92-48.63-48.58-76.99-114.26Q120-405.19 120-479.87q0-74.67 28.34-140.41 28.34-65.73 76.92-114.36 48.58-48.63 114.26-76.99Q405.19-840 479.87-840q74.67 0 140.41 28.34 65.73 28.34 114.36 76.92 48.63 48.58 76.99 114.26Q840-554.81 840-480.13q0 74.67-28.34 140.41-28.34 65.73-76.92 114.36-48.58 48.63-114.26 76.99Q554.81-120 480.13-120Zm-.13-40q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z")
                                        .functionality__text Sync data across devices instantly for seamless updates.
                                    .functionality
                                        .functionality__icon.flex-c
                                            svg(xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3")
                                                path(d="m422.46-323.69 255.85-255.85L650-607.85 422.46-380.31l-114-114L280.15-466l142.31 142.31ZM480.13-120q-74.67 0-140.41-28.34-65.73-28.34-114.36-76.92-48.63-48.58-76.99-114.26Q120-405.19 120-479.87q0-74.67 28.34-140.41 28.34-65.73 76.92-114.36 48.58-48.63 114.26-76.99Q405.19-840 479.87-840q74.67 0 140.41 28.34 65.73 28.34 114.36 76.92 48.63 48.58 76.99 114.26Q840-554.81 840-480.13q0 74.67-28.34 140.41-28.34 65.73-76.92 114.36-48.58 48.63-114.26 76.99Q554.81-120 480.13-120Zm-.13-40q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z")
                                        .functionality__text Customize your dashboard to highlight key information.
                                    .functionality
                                        .functionality__icon.flex-c
                                            svg(xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3")
                                                path(d="m422.46-323.69 255.85-255.85L650-607.85 422.46-380.31l-114-114L280.15-466l142.31 142.31ZM480.13-120q-74.67 0-140.41-28.34-65.73-28.34-114.36-76.92-48.63-48.58-76.99-114.26Q120-405.19 120-479.87q0-74.67 28.34-140.41 28.34-65.73 76.92-114.36 48.58-48.63 114.26-76.99Q405.19-840 479.87-840q74.67 0 140.41 28.34 65.73 28.34 114.36 76.92 48.63 48.58 76.99 114.26Q840-554.81 840-480.13q0 74.67-28.34 140.41-28.34 65.73-76.92 114.36-48.58 48.63-114.26 76.99Q554.81-120 480.13-120Zm-.13-40q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z")
                                        .functionality__text Get instant notifications for important updates.

                            .row__actions
                                button.btn.secondary Demo
                                button.btn Learn more
                        .row__right
                            .row__image
                                img(src="/images/linkpage.webp")
                    .functionalities__row
                        .row__left
                            .row__body
                                .row__title
                                    h2 Upload an Encrypted File to Beyong UI using Next.js
                                .row__description 
                                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam eum quasi dolore cum sit repellendus vel tempora soluta, corporis quo aperiam iste, quod similique asperiores, ea ex natus nulla placeat.
                                .row__functionality
                                    .functionality
                                        .functionality__icon.flex-c
                                            svg(xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3")
                                                path(d="m422.46-323.69 255.85-255.85L650-607.85 422.46-380.31l-114-114L280.15-466l142.31 142.31ZM480.13-120q-74.67 0-140.41-28.34-65.73-28.34-114.36-76.92-48.63-48.58-76.99-114.26Q120-405.19 120-479.87q0-74.67 28.34-140.41 28.34-65.73 76.92-114.36 48.58-48.63 114.26-76.99Q405.19-840 479.87-840q74.67 0 140.41 28.34 65.73 28.34 114.36 76.92 48.63 48.58 76.99 114.26Q840-554.81 840-480.13q0 74.67-28.34 140.41-28.34 65.73-76.92 114.36-48.58 48.63-114.26 76.99Q554.81-120 480.13-120Zm-.13-40q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z")
                                        .functionality__text Sync data across devices instantly for seamless updates.
                                    .functionality
                                        .functionality__icon.flex-c
                                            svg(xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3")
                                                path(d="m422.46-323.69 255.85-255.85L650-607.85 422.46-380.31l-114-114L280.15-466l142.31 142.31ZM480.13-120q-74.67 0-140.41-28.34-65.73-28.34-114.36-76.92-48.63-48.58-76.99-114.26Q120-405.19 120-479.87q0-74.67 28.34-140.41 28.34-65.73 76.92-114.36 48.58-48.63 114.26-76.99Q405.19-840 479.87-840q74.67 0 140.41 28.34 65.73 28.34 114.36 76.92 48.63 48.58 76.99 114.26Q840-554.81 840-480.13q0 74.67-28.34 140.41-28.34 65.73-76.92 114.36-48.58 48.63-114.26 76.99Q554.81-120 480.13-120Zm-.13-40q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z")
                                        .functionality__text Customize your dashboard to highlight key information.
                                    .functionality
                                        .functionality__icon.flex-c
                                            svg(xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3")
                                                path(d="m422.46-323.69 255.85-255.85L650-607.85 422.46-380.31l-114-114L280.15-466l142.31 142.31ZM480.13-120q-74.67 0-140.41-28.34-65.73-28.34-114.36-76.92-48.63-48.58-76.99-114.26Q120-405.19 120-479.87q0-74.67 28.34-140.41 28.34-65.73 76.92-114.36 48.58-48.63 114.26-76.99Q405.19-840 479.87-840q74.67 0 140.41 28.34 65.73 28.34 114.36 76.92 48.63 48.58 76.99 114.26Q840-554.81 840-480.13q0 74.67-28.34 140.41-28.34 65.73-76.92 114.36-48.58 48.63-114.26 76.99Q554.81-120 480.13-120Zm-.13-40q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z")
                                        .functionality__text Get instant notifications for important updates.

                            .row__actions
                                button.btn.secondary Demo
                                button.btn Learn more
                        .row__right
                            .row__image
                                img(src="/images/linkpage.webp")

            section.faq.padding-d
                .faq__container
                    .faq__title
                        h2 Frequently asked questions
                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione, magni?
                    .faq__body
                        .faq__question
                            .faq__answer-container
                                .faq__answer Comment fonctionne Gymio ?
                                .faq__icon.flex-c 
                                    svg(xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#e3e3e3")
                                        path(d="M0 0h24v24H0V0z" fill="none")
                                        path(d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6-6-6z")
                            .faq__response
                                p Gymio permet à vos clients de réserver leurs séances en ligne en quelques clics, selon vos disponibilités.
                        .faq__question
                            .faq__answer-container
                                .faq__answer Lorem ipsum dolor sit amet consectetur.
                                .faq__icon.flex-c 
                                    svg(xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#e3e3e3")
                                        path(d="M0 0h24v24H0V0z" fill="none")
                                        path(d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6-6-6z")
                            .faq__response
                                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, quo!
                        .faq__question
                            .faq__answer-container
                                .faq__answer Lorem ipsum dolor sit amet consectetur.
                                .faq__icon.flex-c 
                                    svg(xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#e3e3e3")
                                        path(d="M0 0h24v24H0V0z" fill="none")
                                        path(d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6-6-6z")
                            .faq__response
                                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, quo!
                        .faq__question
                            .faq__answer-container
                                .faq__answer Lorem ipsum dolor sit amet consectetur.
                                .faq__icon.flex-c 
                                    svg(xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#e3e3e3")
                                        path(d="M0 0h24v24H0V0z" fill="none")
                                        path(d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6-6-6z")
                            .faq__response
                                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, quo!
                        .faq__question
                            .faq__answer-container
                                .faq__answer Lorem ipsum dolor sit amet consectetur.
                                .faq__icon.flex-c 
                                    svg(xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#e3e3e3")
                                        path(d="M0 0h24v24H0V0z" fill="none")
                                        path(d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6-6-6z")
                            .faq__response
                                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, quo!
                        .faq__question
                            .faq__answer-container
                                .faq__answer Lorem ipsum dolor sit amet consectetur.
                                .faq__icon.flex-c 
                                    svg(xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#e3e3e3")
                                        path(d="M0 0h24v24H0V0z" fill="none")
                                        path(d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6-6-6z")
                            .faq__response
                                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, quo!
                        .faq__question
                            .faq__answer-container
                                .faq__answer Lorem ipsum dolor sit amet consectetur.
                                .faq__icon.flex-c 
                                    svg(xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#e3e3e3")
                                        path(d="M0 0h24v24H0V0z" fill="none")
                                        path(d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6-6-6z")
                            .faq__response
                                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, quo!
                        .faq__question
                            .faq__answer-container
                                .faq__answer Lorem ipsum dolor sit amet consectetur.
                                .faq__icon.flex-c 
                                    svg(xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#e3e3e3")
                                        path(d="M0 0h24v24H0V0z" fill="none")
                                        path(d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6-6-6z")
                            .faq__response
                                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, quo!
block scripts       
    script(src="/js/layouts/index.js" type="module") 
    script(src="/js/layouts/landing-page.js" type="module") 