extends ../../layouts/index

block links

block content
    .content-wrapper
        .landing-page
            .landing-page__background
                video
                    source(src='/videos/background.mp4')
            .landing-page__container
block scripts
    script(src="/js/layouts/index.js" type="module") 